body{ margin: 0; }

#menu {float:left;display:block;}
#menu ul li {font-family: 'Droid Sans', Arial, sans-serif;font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;}
#menu ul li input {width:20px}
